<div class="container mx-auto px-6 py-4">
  <div class="space-y-6">
    <div class="block w-full">
      <label class="dark:text-white">
        <span>Input text</span>
        <textarea
          name="inputText"
          rows="4"
          placeholder="Text to transform"
          [(ngModel)]="inputText"
          class="form-textarea w-full mt-2 transition duration-100 ease-in-out dark:bg-gray-700 dark:placeholder-gray-300 border-gray-300 dark:border-gray-600 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
        ></textarea>
      </label>
    </div>

    <div class="block w-full">
      <div class="inline-flex">
        <div class="grid grid-cols-2 lg:grid-cols-5">
          <label
            class="cursor-pointer select-none px-4 py-2 block text-center justify-between items-center transition duration-100 ease-in-out dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 border border-gray-300 dark:border-gray-600 focus:outline-none"
            *ngFor="let textCase of textCases"
            [ngClass]="{'bg-indigo-400 dark:bg-indigo-500 text-white': textCase === selectedCaseType, 'hover:bg-gray-100 dark:hover:bg-gray-600': textCase !== selectedCaseType}"
          >
            <span class="absolute top-0 left-0 -z-10 w-full h-full">
              <input
                type="radio"
                class="form-radio w-0 h-0 opacity-0 pointer-events-none"
                [value]="textCase"
                [(ngModel)]="selectedCaseType"
              >
            </span>
            <span>{{textCase}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="block w-full">
      <label class="cursor-pointer inline-flex items-center dark:text-white">
        <input
          type="checkbox"
          class="form-checkbox cursor-pointer w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
          [(ngModel)]="trimWhitespace"
        >
        <span class="ml-4">Trim whitespace</span>
      </label>
    </div>

    <div class="block w-full">
      <label
        class="cursor-pointer inline-flex items-center dark:text-white"
        [ngClass]="{'opacity-40': !isClappable(), 'cursor-not-allowed': !isClappable()}"
      >
        <input
          type="checkbox"
          class="form-checkbox cursor-pointer w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
          [(ngModel)]="clapItUp"
          [ngClass]="{'cursor-not-allowed': !isClappable()}"
          [disabled]="!isClappable()"
        >
        <span class="ml-4">Clap 👏 it 👏 up!</span>
      </label>
    </div>

    <div class="block w-full">
      <label class="dark:text-white">
        <input
          type="number"
          placeholder="No limit"
          class="form-input transition duration-100 ease-in-out dark:placeholder-gray-300 border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
          min="0"
          [(ngModel)]="charLimit"
        >
        <span class="ml-4">Character limit</span>
      </label>
    </div>

    <div class="block w-full">
      <button
        type="button"
        (click)="onTransform()"
        class="w-full h-12 transition duration-100 ease-in-out font-semibold text-white bg-green-500 hover:bg-green-700 disabled:bg-green-500 disabled:opacity-50 focus:outline-none"
        [ngClass]="{'cursor-not-allowed': !inputText}"
        [disabled]="!inputText"
      >
        Transform
      </button>
    </div>

    <div class="block w-full">
      <label class="dark:text-white">
        <span>Output text</span>
        <textarea
          name="outputText"
          rows="4"
          placeholder="Result"
          [(ngModel)]="outputText"
          onclick="this.focus();this.select()"
          class="form-textarea w-full mt-2 transition duration-100 ease-in-out dark:bg-gray-700 dark:placeholder-gray-300 border-gray-300 dark:border-gray-600 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
        ></textarea>
      </label>
    </div>
  </div>
</div>
