<div class="container mx-auto px-6 py-4">
  <div class="antialiased">
    <div class="space-y-2">
      <textarea
        name="inputText"
        rows="4"
        placeholder="Input"
        [(ngModel)]="inputText"
        class="block w-full dark:placeholder-gray-300 rounded-md transition duration-100 ease-in-out border-gray-300 dark:border-gray-900 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:ring focus:ring-offset-0 focus:ring-indigo-500"
      ></textarea>

      <form class="block w-full">
        <label class="inline-flex items-center" *ngFor="let textCase of textCases">
          <input
            type="radio"
            class="w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-900 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:ring focus:ring-offset-0 focus:ring-indigo-500"
            name="caseType"
            [value]="textCase"
            [(ngModel)]="selectedCaseType"
          >
          <span class="ml-2 dark:text-white">{{textCase}}</span>
        </label>
      </form>

      <div class="block w-full">
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="w-8 h-8 rounded transition duration-100 ease-in-out border-gray-300 dark:border-gray-900 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:ring focus:ring-offset-0 focus:ring-indigo-500"
            [(ngModel)]="trimWhitespace"
          >
          <span class="ml-2 dark:text-white">Trim whitespace</span>
        </label>
      </div>

      <div class="block w-full">
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="w-8 h-8 rounded transition duration-100 ease-in-out border-gray-300 dark:border-gray-900 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:ring focus:ring-offset-0 focus:ring-indigo-500"
            [(ngModel)]="clapItUp"
          >
          <span class="ml-2 dark:text-white">Clap 👏 it 👏 up!</span>
        </label>
      </div>

      <div class="block w-full">
        <label class="inline-flex items-center">
          <input
            type="number"
            class="rounded transition duration-100 ease-in-out border-gray-300 dark:border-gray-900 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:ring focus:ring-offset-0 focus:ring-indigo-500"
            min="0"
            [(ngModel)]="charLimit"
          >
          <span class="ml-2 dark:text-white">Character limit</span>
        </label>
      </div>

      <button
        type="button"
        (click)="transformText()"
        class="block w-full h-12 font-semibold rounded-lg text-white bg-green-500 hover:bg-green-700 disabled:bg-green-500 disabled:opacity-50"
        [ngClass]="{'cursor-not-allowed': !inputText}"
        [disabled]="!inputText"
      >
        Transform
      </button>

      <textarea
        name="outputText"
        rows="4"
        placeholder="Output"
        [(ngModel)]="outputText"
        class="block w-full dark:placeholder-gray-300 rounded-md transition duration-100 ease-in-out border-gray-300 dark:border-gray-900 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:ring focus:ring-offset-0 focus:ring-indigo-500"
      ></textarea>

    </div>
  </div>
</div>
