<header class="absolute lg:relative w-full p-2 bg-white dark:bg-gray-800">
  <div>
    <!-- Navigation links -->
    <nav class="lg:flex lg:justify-between lg:items-center">
      <!-- Left -->
      <ul class="lg:flex lg:justify-between lg:items-center lg:space-x-6">
      </ul>

      <!-- Right side -->
      <ul class="lg:flex lg:justify-between lg:items-center lg:space-x-6">
        <li class="lg:inline-block">
          <a
            class="block px-2 py-1 rounded hover:text-white hover:bg-gray-400"
            routerLink="/about"
          >
            About
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
