<header class="block relative w-full p-2 bg-indigo-200 dark:bg-indigo-900">
  <div>
    <!-- Navigation links -->
    <nav class="flex justify-between items-center">
      <!-- Left -->
      <ul class="flex justify-between items-center space-x-6">
      </ul>

      <!-- Right side -->
      <ul class="px-4 inline-flex items-center space-x-2">
        <app-dark-toggle></app-dark-toggle>
        <li class="inline-block">
          <a
            class="block px-3 py-2 rounded dark:text-white hover:bg-indigo-50 dark:hover:bg-indigo-600"
            routerLink="/about"
            routerLinkActive="bg-indigo-100 dark:bg-indigo-500"
          >
            About
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
