/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: JetBrains Mono;
    src: url(assets/fonts/JetBrainsMono-Regular.ttf) format("ttf");
  }

  @font-face {
    font-family: Assistant;
    src:  url(assets/fonts/Assistant-Regular.ttf) format("ttf");
  }

  @font-face {
    font-family: Source Serif Pro;
    src: url(assets/fonts/SourceSerifPro-Regular.ttf) format("ttf");
  }
}
