<div class="container mx-auto px-6 py-4">
  <div class="space-y-6">
    <div class="block w-full">
      <label class="dark:text-white">
        <span>Generated password</span>
        <input
          type="text"
          name="password"
          placeholder="Password"
          [(ngModel)]="outputPassword"
          class="w-full mt-2 transition duration-100 ease-in-out text-2xl dark:bg-gray-700 dark:placeholder-gray-300 border-gray-300 dark:border-gray-600 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
        >
      </label>
    </div>

    <div class="block w-full">
      <button
        type="button"
        (click)="generatePassword($event)"
        class="w-full h-12 transition duration-100 ease-in-out font-semibold text-white bg-green-500 hover:bg-green-700 disabled:bg-green-500 disabled:opacity-50 focus:outline-none"
      >
        Generate password
      </button>
    </div>

    <div class="block w-full">
      <button
        type="button"
        (click)="copyPassword()"
        class="w-full h-12 transition duration-100 ease-in-out font-semibold text-white bg-indigo-500 hover:bg-indigo-700 disabled:bg-indigo-500 disabled:opacity-50 focus:outline-none"
        [ngClass]="{'cursor-not-allowed': !outputPassword || outputPassword.length === 0}"
        [disabled]="!outputPassword || outputPassword.length === 0"
      >
        Copy password
      </button>
    </div>

    <div class="block w-full">
      <label class="dark:text-white">
        <span>Length: {{passwordLength}}</span>
        <input
          type="range"
          name="length"
          min="6"
          max="80"
          step="1"
          value="{{passwordLength}}"
          [(ngModel)]="passwordLength"
          (change)="generatePassword($event)"
          class="w-full mt-2 overflow-hidden appearance-none rounded-full transition duration-100 ease-in-out text-2xl dark:bg-gray-700 dark:placeholder-gray-300 border border-gray-300 dark:border-gray-600 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
        >
      </label>
    </div>

    <div class="block w-full">
      <label class="cursor-pointer inline-flex items-center dark:text-white">
        <input
          type="checkbox"
          class="form-checkbox cursor-pointer w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
          [(ngModel)]="uppercase"
          (change)="checkConditions()"
        >
        <span class="ml-4">Uppercase (A-Z)</span>
      </label>
    </div>

    <div class="block w-full">
      <label
        class="cursor-pointer inline-flex items-center dark:text-white"
        [ngClass]="{'cursor-not-allowed': !this.uppercase && this.lowercase && !this.numbers && !this.special}"
      >
        <input
          type="checkbox"
          class="form-checkbox cursor-pointer w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500 disabled:opacity-50"
          [ngClass]="{'cursor-not-allowed': !this.uppercase && this.lowercase && !this.numbers && !this.special}"
          [disabled]="!this.uppercase && this.lowercase && !this.numbers && !this.special"
          [(ngModel)]="lowercase"
          (change)="checkConditions()"
        >
        <span class="ml-4">Lowercase (a-z)</span>
      </label>
    </div>

    <div class="block w-full">
      <label class="cursor-pointer inline-flex items-center dark:text-white">
        <input
          type="checkbox"
          class="form-checkbox cursor-pointer w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
          [(ngModel)]="numbers"
          (change)="checkConditions()"
        >
        <span class="ml-4">Numbers (0-9)</span>
      </label>
    </div>

    <div class="block w-full">
      <label class="cursor-pointer inline-flex items-center dark:text-white">
        <input
          type="checkbox"
          class="form-checkbox cursor-pointer w-8 h-8 transition duration-100 ease-in-out border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:bg-gray-100 hover:bg-gray-100 dark:focus:bg-gray-600 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-500"
          [(ngModel)]="special"
          (change)="checkConditions()"
        >
        <span class="ml-4">Special (!@#$%^&*)</span>
      </label>
    </div>
  </div>
</div>
